/* src/App.css */
.App {
  text-align: center;
  background-image: url('./images/1464496994_photo_community_circle_or_hands_with_global_support_trust_or_diversity_together_as_a_group_in.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
